// @import './test/bg';
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Copse&display=swap');
@import url('https://fonts.googleapis.com/css?family=Voltaire&display=swap');
@import "elements/header";
*{
  margin: 0 auto;
  box-sizing: border-box;
}
html, body{
  font-family: 'Open Sans', sans-serif; ;
}

.flex-box{
  display: flex;
}
.container{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 117vh;
  background-image: url("../images/antique_mural__02787.1452107523.jpg");
  background-size: cover;
}
.mainBox {
  width: 75%;
  height: 75%;
  margin: 10px 0;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4a4a49;
  border-radius: 15px;
  background-color: rgba(250,250, 210, 0.8);
  text-align: center;
  h1 {
    justify-content: center;
    line-height: 50px;
    font-size: 37px;
    img {
      margin: 2px;
      width: 75px;
      height: 50px;
    }
    p{
      margin:2px 23px;
      font-family: 'Caveat', cursive;
    }
  }
  h2{
    font-family: 'Voltaire', sans-serif;
    font-weight: bold;
  }
  ul{
    list-style-type: none;
    margin: 13px 0;
    li{
      padding: 9px 0;
      font-size: 26px;
      font-family: 'Caveat', cursive;
      a{
        color: #4a4a49;
        text-decoration: none;
      }
    }
  }
}

footer{
  background-color: tan;
  box-shadow: 0px -5px 40px #00000029;
  height: 89px;
  flex-direction: column;
  justify-content: center;
  p{
    color: palegreen;
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 6.52px;
    font-family: Charmonman;
  }
  a{
    color: #A5A5A5;
    font-size: 11px;
    text-decoration: none;
  }
}