
header {
  box-shadow: 0px 3px 6px #00000029;
  background-color: rgba(250,250,210, 0.8);
}
header h1{
  color: green;
  text-align: center;
  font-family: Charmonman;
  font-size: 32px;
}
header form{
  justify-content: center;
  align-items: center;
  label{
    margin: 0 2px;
    padding: 0 2px;
    font-weight: bold;
    font-family: 'Voltaire', sans-serif;
    input{
      border-radius: 5px;
      border: 1px solid green;
      font-size: 16px;
      width: 125px;
    }
  }
  select{
    margin: 2px;
    font-size: 16px;
    text-align: center;
    height: 35px;
    background-color: rgb(34,139,34);
    display: inline;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
  }
  input{
    margin:4px 2px;
  }
  button{
    margin: 2px;
    font-size: 16px;
    width: 84px;
    height: 35px;
    background-color: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
  }
}

header form>input {
  font-size: 16px;
  width: 84px;
  height: 35px;
  background-color: rgb(34,139,34);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 40px;
  border: none;
}
